@import 'nib'

// 1. Base colors
$uber-black = #000 // (in LOGO)
$uber-blue = #519be7
$uber-green = #2ecc71
$uber-red = #df5d62 //  (in LOGO)
$uber-yellow = #fef881
$uber-white = #ffffff

// 2. Light colors
$uber-light-gray = #484747
$uber-light-blue = #82befb
$uber-light-green = #3afa8b
$uber-light-red = #ff5c62
$uber-light-yellow = #fdf8a5
$uber-light-white = #f0efef

// 3. Dark colors
$uber-dark-gray = #2b2a2a
$uber-dark-blue = #2471c0
$uber-dark-green = #25a25a
$uber-dark-red = #b54b4f
$uber-dark-yellow = #f0e570 //(in LOGO)
$uber-dark-white = #dedcdc


// 1. Base colors
uber-black()  // (in LOGO)
	color $uber-black
uber-blue()
	color $uber-blue
uber-green()
	color $uber-green
uber-red() //  (in LOGO)
	color $uber-red
uber-yellow()
	color $uber-yellow
uber-white()
	color $uber-white

// 2. Light colors
uber-light-gray()
	color $uber-light-gray
uber-light-blue()
	color $uber-light-blue
uber-light-green()
	color $uber-light-green
uber-light-red()
	color $uber-light-red
uber-light-yellow()
	color $uber-light-yellow
uber-light-white()
	color  $uber-light-white

// 3. Dark colors
uber-dark-gray()
	color $uber-dark-gray
uber-dark-blue()
	color $uber-dark-blue
uber-dark-green()
	color $uber-dark-green
uber-dark-red()
	color $uber-dark-red
uber-dark-yellow() //(in LOGO)
	color $uber-dark-yellow
uber-dark-white()
	color $uber-dark-white