heading-font()
  /*font-family: 'Oswald', sans-serif;*/
  font-family 'Cuprum', sans-serif

text-font()
	/*font-family: 'Source Sans Pro';*/
  font-family: 'Fira Sans', sans-serif;

us-F1()
	font-size  10px
	line-height 18px
	letter-spacing 1px
us-F2()
	font-size  12px
	line-height 20px
	letter-spacing 1px
us-F3()
	font-size  14px
	line-height 22px
	letter-spacing 1px
us-F4()
	font-size  16px
	line-height 24px
	letter-spacing 1px
us-F5()
	font-size  18px
	line-height 26px

