div(ui-view='')
//- .wrapper
//-   .top-nav.fixed.heading-font.uber-red
//-     .container
//-       .inline-wpr
//-         ui.nav.nav-pills.pull-left
//-           li(ui-sref-active="active")
//-             a(href='' ui-sref='home.default')
//-               span Home
//-           li(ui-sref-active="active")
//-             a(href='')
//-               span About
//-           li(ui-sref-active="active")
//-             a(ui-sref='home.register')
//-               span Register
//-           li(ui-sref-active="active") 
//-             a(href='')
//-               span Events
//-         ui.nav.nav-pills.pull-right
//-           li(ui-sref-active="active")
//-             a(href='')
//-               span FAQ's
//-           li(ui-sref-active="active")
//-             a(href='')
//-               span Blog
//-           li(ui-sref-active="active")
//-             a(href='')
//-               span Contact
//-           li(ui-sref-active="active")
//-             a(ui-sref='home.login')
//-               span login
//-         img.logo(src='/img/latest-logo.png')

//-   div(ui-view='')

//-   .footer
//-     .container
//-       .content
//-         .footer-wrapper
//-           div 
//-             img.logo(src='/img/latest-logo.png')
//-           div 
//-             ul 
//-               li 
//-                 a(href='') Home
//-               li 
//-                 a(href='') About
//-               li 
//-                 a(href='') Register
//-               li 
//-                 a(href='' ng-click='register()') Events
//-               li 
//-                 a(href='') FAQ's
//-               li 
//-                 a(href='') Blog
//-               li 
//-                 a(href='') Contact Us
//-               li 
//-                 a(href='') Login
//-               li
//-                 a(href='') 
//-                   i.fa.fa-facebook-square.us-F5
//-               li
//-                 a(href='')
//-                   i.fa.fa-twitter-square.us-F5
//-             hr
//-             ul.bottom.us-F1
//-               span TERMS OF SERVICES - PROVACY POLICY
//-               span.pull-right Copyright &#169; UberStarter Inc.All Rights Reserved.