.top-nav.heading-font.uber-red
  .container
    .inline-wpr
      H1 Hi! This is a normal user page please notise me frequently.
      h1.head1.heading-font.uber-dark-blue The smart tool for lean startups
      h4.head2.heading-font.uber-dark-gray Check for free how fundable is your idea!
      br
      div
        button.my-btn.text-font(ui-sref='home.register') FREE SIGN UP
      br
      br
      br
      .speedup-text.heading-font.text-font.uber-light-gray
        span SPEED UP YOUR STARTUP

      .banner-block
        .item-gap
        .item.thumbnail
          .caption
            h3.uber-green Itirate faster, run better
            hr
            p Find out what works and waht doesn't quickly and improve
        .item-gap
        .item.thumbnail
          .caption
            h3.uber-blue Keep sights of big picture
            hr
            p Maintain direction & momentum while improve constantly 
        .item-gap
        .item.thumbnail
          .caption
            h3.uber-red Priotize tasks correctly
            hr
            p Understand what to do next and how vital is it to your goal
        .item-gap
.hanging-circles
  .container
    .hanging
      .heading
        h3.uber-red Everything yuo'll ever need to build your startup ideaa into reality, in one single place
      .bg-c.pure-g
        .pure-u-1-3.text-left
          h3.us-F5.uber-dark-gray Build
          span.us-F3.uber-dark-blue Setup landing pages, interviews and design experiments to test your assumptions
        .pure-u-1-3.text-center
          h3.us-F5.uber-dark-gray Measure
          span.us-F3.uber-dark-blue Compare traffic and sign-ups for your different product offerings and track key metrics 
        .pure-u-1-3.text-right
          h3.us-F5.uber-dark-gray Learn
          span.us-F3.uber-dark-blue Get customer feedback and learn from other experienced entrepreneurs
    .signup-c
      button.my-btn(ui-sref='home.register') Sign up now
      span and start building your venture today!
.brand-list
  .container
    .content
      h1.head.uber-red Thousands of people use the lean canvas.
      h3.sub-head Lean Canvas is the top choise for enteprenuers,
      h3.sub-head startups, universities and incubators & accelerators alike.
      .brand-row
        img(src='/img/banner-img-strip.png')

.feature-set
  .container
    .content
      h1.head
        span.uber-red Uberstarter feature introduction line here
      .item
        .img
          .table-cont
            div
              img(src='')
        .detail
          h3.detail-head Feature title 1
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .item
        .img
          .table-cont
            div
              img(src='')
        .detail
          h3.detail-head Feature title 2
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .item
        .img
          .table-cont
            div
              img(src='')
        .detail
          h3.detail-head Feature title 3
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

//- .testimonials
//-   .container
//-     .content
//-       div(carousel interval='testimonials.interval')
//-         div(slide ng-repeat="testimonial in testimonials" active="testimonial.active")
//-           .detail
//-             .quote
//-               h3(ng-bind='testimonial.quote')
//-             .person
//-               .img
//-                 .table-cont
//-                   div
//-                     img(ng-src='{{testimonial.person.image || "/img/default-user-pic.jpeg"}}')
//-               .table-cont.name
//-                 div
//-                   h3(ng-bind='testimonial.person.name')
//-                   span(ng-bind='testimonial.person.type')