input.input-large{
  width:40%;
}
input.input-medium,select.input-medium{
  width:30%;
}
label{
  color:#363636;
  font-weight: normal;
}

.LR-popup .modal-dialog{
  width: 802px;
}
.LR-popup .modal-content{
  border-radius: 10px;
}
.form-control{
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border: 1px solid #A1A1A1;
}
.form-group{
  margin-bottom: 10px;
}
form.user-registration-form textarea{
  width:40%;
}
form.user-registration-form textarea.about-user{
  width:60%;
  height:120px;
}
form.user-registration-form .radio-box{
  float: left;
  margin-right: 20px;
}
.hint{
  font-size: 12px;
  font-style: italic;
  margin-bottom: 20px;
}
.hint-text{
  float: left;
  width:70%;
}
.hint .chars{
  float: right;
}
.add-form-link{
  color:#363636;
  border: 1px solid #A1A1A1;
  text-decoration: none;
  padding:5px 10px;
  font-size: 14px;
  position: relative;
  top:7px;
  width:200px;
}
a.add-form-link:hover{
  color: #363636;
  text-decoration: none;
}
input[type="checkbox"]{
 height: 15px;
 width:20px;
 position: relative;
 top:-1px;
 margin-right: 5px;
}
.registration-form-container{
  padding-bottom: 50px;
}



.registration-canvas{
  width: 800px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}
.registration-wrapper{
  width: 700px;
  display: block;
  margin: auto;
}

.registration-canvas .prompt{
  margin-bottom: 10px;
}
.registration-canvas .prompt .field input, .registration-canvas .prompt .field textarea{
  border-radius: 3px;
  border: 1px solid #e1e8ed;
  display: inline-block;
  float: left;
}
.registration-canvas .prompt .field .select2-container input{
  border:0;
}
.registration-canvas .select2-container{
  width: 300px;
}
.registration-canvas .prompt .field{
  display: inline-block;
  width: 100%;
}
.registration-canvas .prompt .field input{
  height: 30px;
  width: 382px;
}
.registration-canvas .prompt .field textarea{
  height: 120px;
  width: 500px;
  max-width: 100%;
}

/************* USERPIC ***********/
.user-pic{
  display: block;
  width: 150px;
  height: 200px;
  max-height: 120px;
  text-align: center;
  border-radius: 50%;
}
.user-pic-wrapper{
  display: table;
  width: 100%;
  height: 100%;
  max-height: inherit;
}
.user-pic span{
  display: table-cell;
  vertical-align: middle;
  max-height: inherit; 
}
.user-pic img{
  max-width: 100%;
  max-height: inherit;
}
/********************************/
