h2
  | Welcome !{name} to This awesome plateform!
p To complete your registration and start using your account, please use the following information:

p You are requested to change this password once your account setup is complete. 
p We hope you enjoy using this tool!